@page "/play-game"
@using MudBlazor.Utilities
@using SOTM.Shared.Models
@using SOTM.MissionControl.Models
@using SOTM.MissionControl.Services
@inject HttpClient httpClient
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager navManager
@inject DeckDataService deckData
@inject DraftRandomizerService randomizer
@inject DraftSelectionsService draftSelections
@inject GameService gameSvc
@inject GameLogService gameLog
@inject SettingsService settingsSvc

<div Class="d-flex justify-space-around flex-1 flex-row gap-3" Style="min-width:0; overflow: scroll;">
    <MudCard Class="flex-0 pa-3 mb-3 villain-section">
        <MudCardContent Class="d-flex flex-column pa-0" Style="height: 550px;">
            <div class="flex-0">
                <MudText Align="Align.Center" Typo="Typo.h6" Style="@($"user-select: none;")">VILLAIN</MudText>
            </div>
            <div class="flex-0 pa-4 rounded d-flex justify-space-around" style="border-width: 5px;">
                <CharacterCard
                    Class="villain-character"
                    VariantMetadata="SelectedVillainEntity"
                    DefaultTitle="Unknown Villain"/>
            </div>
            <MudSpacer />
            <div class="flex-0" style="box-sizing: border-box;">
                <MudButton 
                    Disabled="RandomizeButtonDisabled" 
                    OnClick="DraftRandomGame"
                    @onmouseover="RandomizeBtnHover"
                    @onmouseout="RandomizeBtnUnhover"
                    StartIcon="@Icons.Material.Filled.Refresh" 
                    Variant="Variant.Filled" FullWidth="true" 
                    Style=@($"color:{Colors.Indigo.Darken4}; background:{Colors.Indigo.Accent2};")>

                    Re-randomize
                </MudButton> <br/>
                <MudButton
                    StartIcon="@Icons.Material.Filled.ArrowBack"
                    OnClick="BackToDraft"
                    @onmouseover="BackBtnHover"
                    @onmouseout="BackBtnUnhover"
                    Variant="Variant.Filled" FullWidth="true"
                    Style=@($"color:{Colors.Indigo.Darken4}; background:{Colors.Indigo.Accent2}; margin-top: 15px;")>

                    Edit Selections
                </MudButton>
            </div>
        </MudCardContent>
    </MudCard>
    <MudCard Class="flex-1 pa-3 mb-3 hero-section">
        <MudCardContent Class="pa-0 align-content-start gap-3 relative" Style="width: 100%; height:550px;">
            <MudDropContainer Class="align-content-space-between d-flex flex-column absolute" T="HeroCharacterDropItem" @ref="heroDropContainerRef" Items="@heroDropZoneItems" ItemsSelector="@((item, dropzone) => item.isPicked == (dropzone == "Picked"))" ItemDropped="ItemUpdated" Style="min-width: 0; width:100%; height:100%;">
                <ChildContent>
                    <div class="flex-0 align-content-start">
                        <MudText Align="Align.Center" Typo="Typo.h6" Class="hero-cc-dropzone-text">HEROES</MudText>
                        <MudDropZone ItemIsDisabled="ItemIsDisabled" T="HeroCharacterDropItem" Identifier="Picked" Class="rounded d-flex pa-4 ma-0 flex-1 gap-3 hero-cc-dropzone" AllowReorder="true">
                        </MudDropZone>
                    </div>
                    <MudSpacer />
                    <div class="flex-0 align-content-start">
                        <MudText Align="Align.Center" Typo="Typo.h6" Class="@($"{(DropZonesDisabled ? "hero-cc-dropzone-text-disabled" : "hero-cc-dropzone-text")}")">AVAILABLE HEROES</MudText>
                        <MudDropZone ItemIsDisabled="ItemIsDisabled" T="HeroCharacterDropItem" Identifier="Benched" Class="@($"rounded d-flex pa-4 ma-0 flex-1 gap-3 {(DropZonesDisabled ? "hero-cc-dropzone-disabled" : "hero-cc-dropzone")}")" AllowReorder="true" DisabledClass="hero-character-disabled">
                        </MudDropZone>
                        <MudText Align="Align.Center" Typo="Typo.subtitle2" Style="@($"margin-top: 5px; color: {Colors.Red.Darken4};")">@(GetBottomTooltipText())</MudText>
                    </div>
                </ChildContent>
                <ItemRenderer>
                    <CharacterCard
                        Class="hero-character"
                        VariantMetadata="@context.entity"/>
                </ItemRenderer>
            </MudDropContainer>
        </MudCardContent>
    </MudCard>
    <MudCard Class="flex-grow-0 pa-3 mb-3 environment-section">
        <MudCardContent Class="d-flex flex-column pa-0" Style="width: 100%; height:550px;">
            <div class="flex-0">
                <MudText Align="Align.Center" Typo="Typo.h6" Style="@($"user-select: none;")">ENVIRONMENT</MudText>
            </div>
            <div class="flex-0 pa-4 rounded d-flex justify-space-around" style="border-width: 5px;">
                <CharacterCard
                    Class="environment-character"
                    VariantMetadata="SelectedEnvironmentEntity"
                    DefaultTitle="Unknown Environment"/>
            </div>
            <MudSpacer />
            <div class="flex-0" style="box-sizing: border-box;">
                <MudButton
                    Class=@(OutcomeButtonVisibility)
                    OnClick="EndGameWin"
                    @onmouseover="WinBtnHover"
                    @onmouseout="WinBtnUnhover"
                    StartIcon="@Icons.Material.Filled.EmojiEvents"
                    Variant="Variant.Filled" FullWidth="true"
                    Style=@($"margin-top: 15px; color:{Colors.Shades.White}; background:{Colors.Green.Accent4};")>

                    Win
                </MudButton> <br/>
                
                <MudButton 
                    Class=@(OutcomeButtonVisibility)
                    OnClick="EndGameLoss"
                    @onmouseover="LossBtnHover"
                    @onmouseout="LossBtnUnhover"
                    StartIcon="@Icons.Material.Filled.ThumbDown"
                    Variant="Variant.Filled" FullWidth="true"
                    Style=@($"margin-top: 15px; color:{Colors.Shades.White}; background:{Colors.Amber.Darken3};")>

                    Loss
                </MudButton> <br/>

                <MudButton 
                    Disabled="StartButtonDisabled" 
                    OnClick="StartGame"
                    Variant="Variant.Filled" FullWidth="true"
                    Style=@($"margin-top: 15px; color:{Colors.Shades.White}; background:{Colors.Red.Default};")>

                    Fight!
                </MudButton>
            </div>
        </MudCardContent>
    </MudCard>
</div>

<style>
    .villain-character {
        --character-card-text-color: @(Colors.Indigo.Darken4);
        --character-card-color: @(Colors.Indigo.Lighten2);
    }
    .hero-character {
        --character-card-text-color: @(Colors.DeepOrange.Darken4);
        --character-card-color: @(Colors.Amber.Lighten1);
    }
    .hero-character-disabled .character-card {
        --character-card-text-color: #e5aa8c;
        --character-card-color: #ffe697;
    }
    .hero-character-disabled .character-card-marker {
        filter: opacity(50%);
    }
    .environment-character {
        --character-card-text-color: @(Colors.Green.Darken4);
        --character-card-color: @(Colors.Green.Lighten2);
    }
    .hero-cc-dropzone, .hero-cc-dropzone-disabled {
        height: 210px;
        min-width: 0;
        overflow-x: scroll;
        border-width: 5px;
        border-color: @(Colors.Amber.Darken4);
        overflow-y: hidden;
    }
    .hero-cc-dropzone {
        --mud-palette-primary: @(Colors.Amber.Darken4);
    }
    .hero-cc-dropzone-disabled {
        --mud-palette-primary: #ffc187;
        border-color: #ffc187;
    }
    .hero-cc-dropzone-text {
        user-select: none;
    }
    .hero-cc-dropzone-text-disabled {
        color: @(Colors.Amber.Darken3);
        user-select: none;
    }
</style>

@code {

    // Helper functions to toggle states of buttons / bottom tooltip
    protected const string TOOLTIP_PICK_DEFAULT = "Assemble your team by dragging 3-5 available hero cards to the top.";
    protected const string TOOLTIP_PICK_READY_START = "Continue editing your hero selections, or press the button on the right to start the game.";
    protected const string TOOLTIP_PICK_TOO_MANY_HEROES = "You can only select up to 5 heroes.";
    protected const string TOOLTIP_RANDOMIZE = "Generate a new random draft (villain, hero, and environment) with the same ban settings.";
    protected const string TOOLTIP_GAME = "The game has started. Good luck!";
    protected const string TOOLTIP_BACK = "Return to the previous page. The current draft will NOT be saved.";
    protected const string TOOLTIP_CANCEL = "End the current game and return to the previous page. The current game will NOT be saved.";
    protected const string TOOLTIP_WIN = "End the current game and save it as a win.";
    protected const string TOOLTIP_LOSS = "End the current game and save it as a loss.";
    private bool randomizeButtonHovered = false;
    private bool backButtonHovered = false;
    private bool winButtonHovered = false;
    private bool lossButtonHovered = false;
    private int pickedHeroCount = 0;

    public void RandomizeBtnHover()
    {
        this.randomizeButtonHovered = true;
    }
    public void RandomizeBtnUnhover()
    {
        this.randomizeButtonHovered = false;
    }
    public void BackBtnHover()
    {
        this.backButtonHovered = true;
    }
    public void BackBtnUnhover()
    {
        this.backButtonHovered = false;
    }
    public void WinBtnHover()
    {
        this.winButtonHovered = true;
    }
    public void WinBtnUnhover()
    {
        this.winButtonHovered = false;
    }
    public void LossBtnHover()
    {
        this.lossButtonHovered = true;
    }
    public void LossBtnUnhover()
    {
        this.lossButtonHovered = false;
    }

    public bool RandomizeButtonDisabled => gameSvc.GameHasStarted;
    public bool StartButtonDisabled =>
        (gameSvc.GameHasStarted) || (this.pickedHeroCount < 3) || (this.pickedHeroCount > 5);

    public string OutcomeButtonVisibility => gameSvc.GameHasStarted ? "" : "invisible";
    public string GetBottomTooltipText()
    {
        if (gameSvc.GameHasStarted)
        {
            if (this.backButtonHovered)
            {
                return TOOLTIP_CANCEL;
            }
            if (this.winButtonHovered)
            {
                return TOOLTIP_WIN;
            }
            if (this.lossButtonHovered)
            {
                return TOOLTIP_LOSS;
            }
            return TOOLTIP_GAME;
        }
        if (this.backButtonHovered)
        {
            return TOOLTIP_BACK;
        }
        if (this.randomizeButtonHovered)
        {
            return TOOLTIP_RANDOMIZE;
        }
        if (this.pickedHeroCount > 5)
        {
            return TOOLTIP_PICK_TOO_MANY_HEROES;
        }
        else if (this.pickedHeroCount >= 3)
        {
            return TOOLTIP_PICK_READY_START;
        }
        return TOOLTIP_PICK_DEFAULT;
    }

    public class HeroCharacterDropItem
    {
        public DeckVariantViewModel entity { get; init; }
        public bool isPicked = false;
        public int Order { get; set; }
    }

    public void ItemUpdated(MudItemDropInfo<HeroCharacterDropItem> dropItem)
    {
        dropItem.Item.isPicked = dropItem.DropzoneIdentifier == "Picked";
        int pickedHeroCount = this.heroDropZoneItems.Count(item => item.isPicked);
        var indexOffset = dropItem.DropzoneIdentifier == "Picked" ? 0 : pickedHeroCount;

        this.heroDropZoneItems.UpdateOrder(dropItem, dropItem => dropItem.Order, indexOffset);
        this.heroDropZoneItems = this.heroDropZoneItems.OrderBy(item => item.Order).ToList();

        this.pickedHeroCount = pickedHeroCount;
        StateHasChanged();
        this.heroDropContainerRef.Refresh();
    }

    public bool DropZonesDisabled => gameSvc.GameHasStarted || !(gameSvc.GameExists);
    public bool ItemIsDisabled(HeroCharacterDropItem item)
    {
        Console.WriteLine($"{item.entity.title} disabled: {gameSvc.GameHasStarted} || {!(gameSvc.GameExists)}");
        return this.DropZonesDisabled;
    }

    private MudDropContainer<HeroCharacterDropItem> heroDropContainerRef;
    private List<HeroCharacterDropItem> heroDropZoneItems = [];

    private DeckVariantViewModel? SelectedVillainEntity =>
        deckData.GetVariantMetadata(deckData.GetVariantData(gameSvc.GameVillain));
    private DeckVariantViewModel? SelectedEnvironmentEntity =>
        deckData.GetVariantMetadata(deckData.GetVariantData(gameSvc.GameEnvironment));

    protected override async Task OnInitializedAsync()
    {
        await deckData.Load(localStorage);
        await gameSvc.Load(localStorage);
        await gameLog.Load(localStorage);

        Game? game;
        if (gameSvc.TryGetGame(out game))
        {
            this.InitDropZones(game!);
        }
        else
        {
            this.heroDropZoneItems = [];
        }
    }

    public void InitDropZones(Game game)
    {
        var pickedHeroes = game.GetPickedHeroes();
        this.heroDropZoneItems = pickedHeroes.Select
        (
            (identifier, index) => new HeroCharacterDropItem()
            {
                entity = deckData.GetVariantMetadata(deckData.GetVariantData(identifier)),
                isPicked = true,
                Order = index
            }
        ).Concat
        (
            game.GetUnpickedHeroes().Select((identifier, index) => new HeroCharacterDropItem()
            {
                entity = deckData.GetVariantMetadata(deckData.GetVariantData(identifier)),
                isPicked = false,
                Order = pickedHeroes.Count() + index
            }
        )).ToList();
        StateHasChanged();
        this.heroDropContainerRef.Refresh();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        this.heroDropContainerRef.Refresh();
    }

    private async Task DraftRandomGame()
    {
        await draftSelections.Load(localStorage);
        Game game = new Game(randomizer.DraftRandomClassicGame(deckData, settingsSvc, draftSelections.GetPickableVariantSet()));
        gameSvc.NewGame(game);

        this.InitDropZones(game);
        StateHasChanged();
        this.heroDropContainerRef.Refresh();

        await gameSvc.Save(localStorage);
    }

    private async void BackToDraft()
    {
        gameSvc.ClearGame();
        await gameSvc.Save(localStorage);
        navManager.NavigateTo("/deck-select");
    }

    private async void StartGame()
    {
        IEnumerable<GlobalIdentifier> pickedHeroes = this.heroDropZoneItems
            .Where(item => item.isPicked)
            .OrderBy(item => item.Order)
            .Select(item => item.entity.identifier);
        gameSvc.StartGame(pickedHeroes);
        await gameSvc.Save(localStorage);
        StateHasChanged();
    }
    private async Task EndGame(Game? game)
    {
        if (game is not null)
        {
            gameLog.AddGame(game, deckData);
            await gameSvc.Save(localStorage);
            await gameLog.Save(localStorage);
            if (settingsSvc.GameEndAction == GameEndAction.START_NEW_GAME)
            {
                await this.DraftRandomGame();
            }
            else
            {
                navManager.NavigateTo("/deck-select");
            }
        }
    }
    private async Task EndGameWin()
    {
        await this.EndGame(gameSvc.EndGameWin());
    }
    private async Task EndGameLoss()
    {
        await this.EndGame(gameSvc.EndGameLoss());
    }
}
