@using SOTM.Shared.Models
@using SOTM.MissionControl.Models
@using SOTM.MissionControl.Services
@using System.Text.RegularExpressions
@inject DeckDataService deckData

@inherits ComponentBase

<MudCard Class="@($"pa-0 card-body {Class}")" Style="@($"background-color: var(--{(this.IsAnyVariantPickable ? "pickable-color" : "banned-color")});")">
    <MudCardHeader Class="@($"d-block align-content-center px-2 py-0 cursor-pointer {(this.IsAnyVariantPickable ? "card-head-pickable" : "card-head-banned")}")" @onclick="ToggleHeadingHandler">
        <CardHeaderContent>
            <MudText Typo="@(Title.Length > LARGE_TEXT_MAX_LENGTH ? Typo.subtitle2 : Typo.body1)" Class="@($"{(this.IsAnyVariantPickable ? "card-head-text-pickable" : "card-head-text-banned")}")"><b>@Title</b></MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pa-1">
        <div class="variant-toggle-group">
        @foreach (var metadata in Variants)
        {
            bool state = _variantPickableTable[metadata.identifier];
            <div class=@($"variant-toggle-item d-flex flex-row align-stretch cursor-pointer {(state ? "pickable" : "banned")}") @onclick="@(() => this.OnChangedTo(this, metadata.identifier, !state))">
                <MudText Typo="@(metadata?.shortTitle?.Length > LARGE_TEXT_MAX_LENGTH ? Typo.caption : Typo.body2)"
                        Class=@($"flex-1 pa-0 ml-1 {(state ? "pickable-text" : "banned-text")}")>
                    @metadata.shortTitle
                </MudText>
                <div class="@($"toggle-group-collection-marker{(state ? "" : " variant-collection-marker-banned")}")"
                    style="@($"background-color:{metadata.color};")">
                </div>
            </div>
        }
        </div>
    </MudCardContent>
</MudCard>

<style>
    .variant-toggle-group .variant-toggle-item {
        border-width: 1px 1px 0 1px;
        border-color: var(--mud-palette-background-grey);
    }
    .variant-toggle-group .variant-toggle-item:last-child {
        border-bottom-width: 1px;
    }

    .card-head-pickable, .card-head-banned {
        background: var(--head-color);
        min-height: 35px;
    }
    .card-head-pickable {
        background: var(--head-color);
    }
    .card-head-banned {
        background: var(--banned-head-color);
    }
    .card-head-pickable:hover, .card-head-banned:hover {
        filter: brightness(135%); 
    }

    .card-head-text-pickable, .card-head-text-banned {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
    }
    .card-head-text-pickable {
        color: var(--pickable-text-color);
    }
    .card-head-text-banned {
        color: var(--banned-head-text-color);
        text-decoration: line-through;
    }

    .card-body {
        color: var(--pickable-text-color);
        background: var(--pickable-color);
    }

    .banned {
        background-color: var(--banned-color);
    }
    .banned:hover {
        background-color: color-mix(in srgb, var(--banned-color) 90%, #000);
    }

    .pickable {
        background-color: var(--pickable-color);
    }
    .pickable:hover {
        background-color: color-mix(in srgb, var(--pickable-color) 60%, #fff);
    }

    .banned-text {
        color: var(--banned-text-color);
        text-decoration: line-through;
    }
    .pickable-text {
        color: var(--pickable-text-color);
    }

    .pickable-text, .banned-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
    }

    .toggle-group-collection-marker {
        flex: 0 0 6px;
    }

    .variant-collection-marker-banned {
        filter: opacity(50%);
    }
</style>

@code
{
    private const int LARGE_TEXT_MAX_LENGTH = 18;

    private Dictionary<GlobalIdentifier, DeckVariantViewModel> _variantModelTable = new();
    private Dictionary<GlobalIdentifier, bool> _variantPickableTable = new();
    private Dictionary<Collection, IEnumerable<GlobalIdentifier>> _collectionSliceTable = new();

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public Collection ParentCollection { get; set; }
    [Parameter]
    public IEnumerable<DeckVariantViewModel> Variants
    { 
        get => _variantModelTable.Values; 
        set
        {
            _variantModelTable = value.ToDictionary(model => model.identifier);
            _variantPickableTable = value.ToDictionary(model => model.identifier, model => true);
            _collectionSliceTable = value
                .GroupBy(model => deckData.GetVariantCollection(model.identifier))
                .ToDictionary(g => g.Key, g => g.Select(model => model.identifier));
        }
    }
    [Parameter]
    public Action<DeckCard, GlobalIdentifier, bool> OnChangedTo { get; set; } = (_, _, _) => {};

    [Parameter]
    public Action<DeckCard, bool> OnToggleHeading { get; set; } = (_, _) => {};

    [Parameter]
    public IEnumerable<GlobalIdentifier> PickableVariants
    {
        get => _variantPickableTable.Keys.Where(identifier => _variantPickableTable[identifier]);
        set
        {
            foreach (var identifier in this.PickableVariants.Except(value))
            {
                _variantPickableTable[identifier] = false;
            }
            foreach (var identifier in value)
            {
                _variantPickableTable[identifier] = true;
            }
        }
    }

    public bool IsAnyVariantPickable { get => this.PickableVariants.Any(); }

    private void ToggleHeadingHandler()
    {
        this.OnToggleHeading(this, !this.IsAnyVariantPickable);
    }

    [Parameter]
    public string Class { get; set; }    
    public static List<DeckVariantViewModel> FromDeckModel(DeckDataService deckData, Deck deck)
    {
        return deckData.GetAllVariantViewModels(deck).ToList();
    }

    public static List<DeckVariantViewModel> FromExpansionModel(DeckDataService deckData, Expansion expansion)
    {
        return expansion.GetChildren().SelectMany(deck => deckData.GetAllVariantViewModels(deck))
            .ToList();
    }

    public void SetSingleValue(GlobalIdentifier identifier, bool changedValue)
    {
        if (this._variantPickableTable.ContainsKey(identifier))
        {
            this._variantPickableTable[identifier] = changedValue;
            StateHasChanged();
        }
    }
    public void SetAllValues(bool changedValue)
    {
        foreach (var identifier in this._variantPickableTable.Keys)
        {
            _variantPickableTable[identifier] = changedValue;
        }
        StateHasChanged();
    }
    public void ExcludeAllInCollection(Collection collection)
    {
        IEnumerable<GlobalIdentifier>? delta;
        if (_collectionSliceTable.TryGetValue(collection, out delta))
        {
            delta = delta.Where(identifier => _variantPickableTable[identifier]);
            if (delta.Any())
            {
                foreach (var identifier in delta)
                {
                    _variantPickableTable[identifier] = false;
                }
                StateHasChanged();
            }
        }
    }

    public void IncludeAllInCollection(Collection collection)
    {
        IEnumerable<GlobalIdentifier>? delta;
        if (_collectionSliceTable.TryGetValue(collection, out delta))
        {
            delta = delta.Where(identifier => !_variantPickableTable[identifier]);
            if (delta.Any())
            {
                foreach (var identifier in delta)
                {
                    _variantPickableTable[identifier] = true;
                }
                StateHasChanged();
            }
        }
    }
}
